body{
	background-color: rgb(210, 210, 210);
	margin: 0px;
}

#barra_top{
	width: 100%;
	height: 130px;
	position: fixed;
	border-bottom: 1px solid black;
	background-color: white;
	z-index: 100;
}


@font-face{
	font-family: Lucida Calligraphy;
	src: url("fontes/LCALLIG.TTF");
}

@font-face{
	font-family: Tempus Sans ITC;
	src: url("fontes/TEMPSITC.TTF");
}

@font-face{
	font-family: Agency FB;
	src: url("fontes/AGENCYR.TTF");
}

#botao_apps{
	position: absolute;
	right: 240px;
	top: 16px;
	
	border-radius: 15px;
	border: 1px solid black;
	width: 200px;
	height: 100px;
	
	font-family: Lucida Calligraphy;
	font-size: 50px;
	
	background-color: white;
	padding: 0px;
}

#botao_sair{
	position:absolute;
	right: 20px;
	top: 16px;
	
	border-radius: 15px;
	border: 1px solid black;
	width: 200px;
	height: 100px;
	
	font-family: Lucida Calligraphy;
	font-size: 50px;
	
	background-color: white;
	padding: 0px;
}

#nome{
	position: absolute;
	top: -115px;
	left: 15px;
	
	/*font-family: Lucida Calligraphy;*/
	font-family: Lucida Calligraphy;
	font-size: 110px;
}

#barra_apps{
	display: none;
	position: absolute;
	/*width: 830px;*/
	max-width: 608px;
	width: auto;
	height: auto;
	top: 140px;
	left: 335px;
	background-color: white;
	text-align: center;
	padding: 0px;
	border: 1px solid black;
	border-radius: 30px;
}

.icones_apps{
	display: line;
	width: 150px;
	height: 150px;
	margin: 20px;
	padding: 5px;
	
	/*border: 3px solid rgb(210, 210, 210);*/
	border-radius: 30px;
	
	background-color: white;
}

#icone_mobile{
	border-color: rgb(186, 186, 186);
}

#icone_rosa{
	border-color: red;
}

#icone_closet{
	border-color: rgb(51, 153, 255);
}

#icone_recadinho{
	border-color: rgb(255, 255, 255);
}

#icone_chave{
	border-color: rgb(232, 183, 39);
}

#postagens{
	/*border: 0px solid white;*/
	position: relative;
	top: 160px;
	left: 50%;
	margin-bottom: -50px;
	margin-left: -450px;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
	border-radius: 30px;
	background-color: white;
	
	width: 900px;
	height: auto;
	max-width: 900px;
	
	text-align: center;
}

#titulo_postagem{
	position: relative;
	top: 15px;
	font-family: Tempus Sans ITC;
	font-size: 80px;
	color: rgb(90, 90, 90);
}

#subtitulo_postagem{
	position: relative;
	font-family: Tempus Sans ITC;
	font-size: 35px;
	color: rgb(180, 180, 180);
	top: -60px;
}

#separador_postagem{
	position: relative;
	top: -80px;
}
/*
#legenda_postagem{
	position: relative;
	font-family: Agency FB;
	font-size: 50px;
	top: -60px;
}
*/
#legenda_postagem{
	position: relative;
	font-family: Tempus Sans ITC;
	font-size: 50px;
	top: -80px;
	left: 55px;
	max-width: 800px;
}

#data_postagem{
	position: relative;
	font-family: Tempus Sans ITC;
	font-size: 25px;
	color: rgb(100, 100, 100);
	top: 0px;
}






