body{
	background-color: rgb(210, 210, 210);
	margin: 0px;
}

#barra_top{
	width: 100%;
	height: 130px;
	position: fixed;
	border-bottom: 1px solid black;
	background-color: white;
	z-index: 100;
}

@font-face{
	font-family: Lucida Calligraphy;
	src: url("fontes/LCALLIG.TTF");
}

@font-face{
	font-family: Edwardian Script ITC;
	src: url("fontes/ITCEDSCR.TTF");
}

#botao_apps{
	position: absolute;
	right: 240px;
	top: 16px;
	
	border-radius: 15px;
	border: 1px solid black;
	width: 200px;
	height: 100px;
	
	font-family: Lucida Calligraphy;
	font-size: 50px;
	
	background-color: white;
	padding: 0px;
}

#botao_sair{
	position:absolute;
	right: 20px;
	top: 16px;
	
	border-radius: 15px;
	border: 1px solid black;
	width: 200px;
	height: 100px;
	
	font-family: Lucida Calligraphy;
	font-size: 50px;
	
	background-color: white;
	padding: 0px;
}

#nome_app{
	position: absolute;
	top: -120px;
	left: 0px;
	
	font-family: Edwardian Script ITC;
	font-size: 120px;
	color: rgb(255, 102, 153);
}

#barra_apps{
	display: none;
	position: absolute;
	/*width: 830px;*/
	max-width: 608px;
	width: auto;
	height: auto;
	top: 140px;
	left: 335px;
	background-color: white;
	text-align: center;
	padding: 0px;
	border: 1px solid black;
	border-radius: 30px;
}

.icones_apps{
	display: line;
	width: 150px;
	height: 150px;
	margin: 20px;
	padding: 5px;
	
	/*border: 3px solid rgb(210, 210, 210);*/
	border-radius: 30px;
	
	background-color: white;
}

.icones_tops{
	display: absolute;
	width: 70px;
	height: 70px;
	margin-top: 30px;
	margin-left: 440px;
	padding: 5px;
	
	border: 3px solid rgb(255, 102, 153);
	border-radius: 30px;
	
	background-color: white;
}

#icone_mobile{
	border-color: rgb(186, 186, 186);
}

#icone_rosa{
	border-color: red;
}

#icone_closet{
	border-color: rgb(51, 153, 255);
}

#icone_chave{
	border-color: rgb(232, 183, 39);
}

#recadinho{
	border: 0px solid black;
	position: relative;
	top: 160px;
	left: 50%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -450px;
	margin-bottom: 130px;
	border-radius: 30px;
	background-color: white;
	
	width: 900px;
	height: 2000px;
	
	text-align: center;
	font-size: 50px;
}

.formulario_recadinho{
	position: relative;
	width: 800px;
	height: 70px;
	padding-left: 10px;
	padding-right: 10px;
	
	font-size: 45px;
	text-align: center;
	
	border: 1px solid black;
	border-radius: 15px;
}

#texto_recadinho{
	position: relative;
	width: 800px;
	height: 1400px;
	padding: 10px;
	
	border: 1px solid black;
	border-radius: 15px;
	
	font-size: 40px;
}

#botao_postar{
	position: relative;
	
	width: 300px;
	height: 150px;
	border: 2px solid black;
	border-radius: 15px;
	
	font-family: Lucida Calligraphy;
	font-size: 75px;
	text-align: center;
	
	background-color: white;
	padding: 0px;
}






